<div class="container mt-5">

    <div *ngIf="!isLoggedIn()">
      <h2>Log-in to your account</h2>
      <form class="ui large form" _lpchecked="1"
      #loginForm="ngForm"
      (ngSubmit)="startLogin()">
      <div class="ui stacked segment mt-5 col-md-2">
        <button class="ui fluid large red submit button" [disabled]="loginForm.invalid">
          Login &nbsp; <i class="bi bi-person-lock"></i>
        </button>
      </div>
      </form>
    </div>

    <div *ngIf="isLoggedIn()" >

      <h2 class="mb-5">You are now logged in with restaurantId "{{ getUsername() }}" </h2>

      <div class="col-md-2">
        <button class="ui fluid large blue submit button mb-5" (click)="editMenu()">
          Edit Menu &nbsp; <i class="bi bi-pencil"></i>
        </button>
  
        <button class="ui fluid large blue submit button mb-5" (click)="editOrderStatus()">
          Edit Order Status &nbsp; <i class="bi bi-pencil"></i>
        </button>
  
        <button class="ui fluid large red submit button" (click)="logout()">
          Logout &nbsp; <i class="bi bi-box-arrow-right"></i>
        </button>
      </div>
    </div>

</div>

