<div class="row justify-content-center mt-5">
    <div class="col-md-7">

        <!-- TODO: show error messages -->

        <div class="card">
            <div class="card-header">
                <h2 class="text-center"><b>Register new restaurant</b></h2>
            </div>
            <div class="card-body">

                <form #myForm="ngForm" (ngSubmit)="register()">
                <!-- section for general information -->
                <h4 class="text-left mt-3 mb-3"><u>General information</u></h4>
                <div class="mb-3">
                    <label for="restaurantName" class="form-label">Restaurant name</label>
                    <input class="form-control" id="restaurantName" name="restaurantName" 
                           [(ngModel)]="restaurant.restaurantName" required>
                </div>
                <div class="mb-4">
                    <label for="webhookUrl" class="form-label">Webhook URL</label>
                    <input type="password" class="form-control" id="webhookUrl" name="webhookUrl" 
                           [(ngModel)]="restaurant.webhookUrl" required>
                </div>
                <div class="mb-4">
                    <label for="titleImage" class="form-label">Title image (Only Image Files Allowed)</label>
                    <input type="file" class="form-control" id="titleImage" name="titleImage" accept="image/*"
                           (change)="onImageFileSelected($event)">
                </div>

                <!-- section for address -->
                <h4 class="text-left mt-5 mb-3"><u>Address</u></h4>

                <div class="mb-4">
                    <label for="street" class="form-label">Street</label>
                    <input type="text" class="form-control" id="street" name="street"
                           [(ngModel)]="address.street" required>
                </div>

                <div class="mb-4">
                    <label for="streetNumber" class="form-label">House Number</label>
                    <input type="number" class="form-control" id="streetNumber" name="streetNumber"
                           [(ngModel)]="address.streetNumber" required>
                </div>

                <div class="mb-4">
                    <label for="city" class="form-label">City</label>
                    <input type="text" class="form-control" id="city" name="city"
                           [(ngModel)]="address.city" required>
                </div>

                <div class="mb-4">
                    <label for="zipCode" class="form-label">Zip Code</label>
                    <input type="text" class="form-control" id="zipCode" name="zipCode"
                           [(ngModel)]="address.zipCode" required>
                </div>

                <div class="mb-4">
                    <label for="latitude" class="form-label">Latitude</label>
                    <input type="number" step="any" class ="form-control" id="latitude" name="latitude"
                           [(ngModel)]="address.latitude" min="-90.0" max="90.0" required>
                </div>
                <div class="mb-4">
                    <label for="longitude" class="form-label">Longitude</label>
                    <input type="number" step="any" class ="form-control" id="longitude" name="longitude"
                           [(ngModel)]="address.longitude" min="-180.0" max="180.0" required>
                </div>
                <button (click)="getLocation()">Get My Location</button>
                
                <!-- section for opening hours -->
                <h4 class="text-left mt-5 mb-3"><u>Opening Hours</u></h4>
                <div class="mb-4" *ngFor="let entry of openingHours; let i = index">
                    <div class="row">
                        <div class="col">
                          <label>Start Time:</label>
                          <input type="time" name="startTime" class="form-control" 
                                 [(ngModel)]="openingHours[i].startTime" required>
                        </div>
                        <div class="col">
                          <label>End Time:</label>
                          <input type="time" name="endTime" class="form-control" 
                                 [(ngModel)]="openingHours[i].endTime" required>
                        </div>
                        <div class="col">
                          <label>Week Day:</label>
                          <select name="weekDayOpeningHours" class="form-control" [(ngModel)]="openingHours[i].weekDay" required>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                          </select>
                        </div>
                      </div>                      
                </div>
                <button type="button" (click)="addOpeningHours()">Add Opening Hours</button>

                <!-- section for closing days -->
                <h4 class="text-left mt-5 mb-3"><u>Closing Days</u></h4>
                <div class="mb-4" *ngFor="let entry of closingDays; let i = index">
                    <div class="col-md-7">
                        <label>Week Day:</label>
                        <select name="weekDayClosingDay" class="form-control" [(ngModel)]="closingDays[i].weekDay" required>
                          <option value="Monday">Monday</option>
                          <option value="Tuesday">Tuesday</option>
                          <option value="Wednesday">Wednesday</option>
                          <option value="Thursday">Thursday</option>
                          <option value="Friday">Friday</option>
                          <option value="Saturday">Saturday</option>
                          <option value="Sunday">Sunday</option>
                        </select>
                    </div>
                </div>
                <button type="button" (click)="addClosingDay()">Add Closing Day</button>

                <!-- checkbox for agree terms -->
                <div class="mb-3 mt-5 text-center">
                    <label for="registerCheck" class="form-label">I have read and agreed to 
                        the terms and conditions &nbsp;</label>
                    <input type="checkbox" class="form-check-input" id="registerCheck" 
                    name="registerCheck">
                </div>

                <div class="text-center text-lg-start mt-3 pt-2">
                    <button class="btn btn-primary w-100" type="submit">Register</button>
                </div>

            </form>
            </div>
        </div>
    </div>
</div>
