<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" id="nav-bar">
    <div class="container">
        <a class="navbar-brand" routerLink="./home" routerLinkActive="active-link">SNACKS</a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <nav class="navbar-nav mr-auto">
              <a class="nav-link" routerLink="./search-results" routerLinkActive="active-link">Discoveries</a>    
              <a class="nav-link" routerLink="./my-orders" routerLinkActive="active-link">My Orders</a> 
              <a class="nav-link" routerLink="./my-cart" routerLinkActive="active-link">My Cart</a> 
            </nav>
            <div class="col text-end">
                <!-- TODO check if user is not logged -- show login   -->
                <nav class="navbar-nav">
                    <div class="col login-navlink">
                        <a class="nav-link" routerLink="./register" routerLinkActive="active-link">Register Restaurant</a> 
                        <a class="nav-link" routerLink="./login" routerLinkActive="active-link">Login</a> 
                    </div>
                </nav>

                <!-- TODO else user is logged in -- show logout button -->
                <!-- <nav class="navbar-nav">
                    <div class="col login-navlink">
                        <a class="nav-link" href="/">Logout</a>
                        <span class="navbar-text me-2">Logged in as <strong>Dummy</strong></span>
                        <button class="btn btn-outline-danger">Logout &nbsp;<i class="bi bi-box-arrow-right"></i></button>
                    </div>
                </nav> -->
               
            </div>
        </div>
    </div>
</nav>

<div class="content">
    <router-outlet/>
</div>

<footer>
    Website made with &nbsp; <i class="bi bi-heart"> </i> &nbsp; by <a href="https://github.com/yangzou2110307110">Yang Zou</a> for the course WEA5 of the studies on FH Oberösterreich Campus Hagenberg
</footer>
  
  