:root{
    --main-blue: #cfe2ff; 
    --white: #fff;
}

#nav-bar{
    font-size: 18px; 
}

.navbar-brand{
    font-size: 28px;
    font-weight: bold;
}

.login-navlink{
    display: flex;
    justify-content: right;
}

@media (max-width: 767.98px) {
    .login-navlink {
      flex-direction: column; 
      justify-content: initial; 
      align-items: flex-end; 
    }
  }

.active-link, .nav-link:hover {
    text-decoration: underline;
    color: var(--main-blue);
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 10px;
    font-size: 14px;
    margin-top: 60px; 
}

@media screen and (prefers-reduced-motion: no-preference) {
    .search-btn{
        transition: transform 0.3s ease-in-out;
    }

    .search-btn:hover{
        transform: translateX(5px) scaleX(1.1); 
    }

}

h5 {
    font-weight: bold;
    line-height: 1.5;
    font-size: 20px;
}

.my-card-body {
    font-size: 16px;
}

