:root{
    --main-blue: #cfe2ff; 
    --white: #fff;
}

#nav-bar{
    font-size: 18px; 
}

.navbar-brand{
    font-size: 28px;
    font-weight: bold;
}

.login-navlink{
    display: flex;
    justify-content: right;
}

@media (max-width: 767.98px) {
    .login-navlink {
      flex-direction: column; 
      justify-content: initial; 
      align-items: flex-end; 
    }
  }

.active-link, .nav-link:hover {
    text-decoration: underline;
    color: var(--main-blue);
}



